extends ../layouts/navigation
block content
	div.container
		form(method='POST' action='').contact
			input(type='text' name='author' placeholder="Name")
			input(type='text' name='to'  placeholder="Email")
			textarea(type='text' name='body' placeholder="Message")
			div.submit
				input(type='submit' value='Отправить')