extends layouts/layout

block navigation
	nav#nav
		ul
			li
				a( href="#top").skel-layers-ignoreHref
					span.icon.fa-home='Intro'
			li
				a( href="/portfolio")
					span.icon.fa-th='Portfolio'
			li
				a( href="#top").skel-layers-ignoreHref
					span.icon.fa-home='Intro'
			li
				a( href="#top").skel-layers-ignoreHref
					span.icon.fa-home='Intro'			
