extends ../layouts/navigation

block content
	script(src='../js/ckeditor/ckeditor.js')
	form(method='POST' action='' enctype='multipart/form-data')
		label='title'
			input(type='text' name='title')
		label='author'
			input(type='text' name='author')
		label='author'
			textarea( name='body')
		input(type='file' name='fileToUpload' required multiple)#fileToUpload
		input(type='submit' value='create')
	script(type='text/javascript').
		CKEDITOR.replace('body')
